<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>404</title>
</head>

<div class="main-content">

{{>header}}
<html>
    <h1>Me</h1>
    <p>{{errorMessage}}</p>
</html>

</div>
{{>footer}}
</html>