
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2 style="color: green;">About</h2>
        <h1>Everything : {{everything}}</h1>
        <h3>Nothing : {{nothing}}</h3>
    </div>
    {{>footer}}
</body>
</html>