<html>
<head>
    {{!-- <link rel="stylesheet" href="./css/styles.css"> --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input type="text" placeholder="Search Location" name="" id="">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

        <script src="js/app.js"></script>

        <h1  style="color: royalblue;">Wooohhooooo....Index.hbs file......yeeeeyeyeeeee.</h1>
        <img class="portrait" src="./img/words-for-talkative-pleonasm-5805-1c3ac3ea69840a819c36615033a5a661@1x.jpg" alt="Loading...">

        <p>Website provides weather Services</p>
    </div>
    <h2>HEYyyyyyyyyyyyyyyyyyyyyyyyyy</h2>

    <h1>{{title}}.....{{name}}</h1>
    
    {{>footer}}
    
</body>
</html>

{{!-- 

2_5231163058633575035
18:45 to 19:40
20:15 to 20:45
21:10 to 22:22
24:15 to 26:05
2_5235486742080914834
https://youtu.be/1bGp-l86SSQ

--}}